/*StyleSheet for the website*/

.editUtab {
  width:100%;
}

.BtnEdit {
  display: inline-block;
}

.BtnEdit1 {
  float: right;
}

th {
  text-align: center;
}

body {
  padding: 5rem 1rem 2rem 15rem;
}

iframe {
  padding: 0 0 1rem 0;
}

p {
  text-align: justify;
}

.bg-custom {
  background-color: #000 !important;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.container-fluid li {
    font-size: 1.125rem;
    padding: 0 1em 0 0;
}

.sidebar p {
  text-align: center;
}

.modal-footer p {
  text-align: center;
}

/* ----------------------------------- The sidebar menu -------------------------------------------*/
.sidebar {
    height: 100%; /* 100% Full-height */
    width: 14rem;
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: .25rem;
    left: 0;
    background-color: #000;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
    padding: 1.5rem 2rem 2rem 1rem;
    text-decoration: none;
    font-size: 1.25rem;
    color: white;
    display: block;
    transition: 0.3s;
}


hr.style1 {
  border-style: solid; 
  border-color: #000;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
    color: #f1f1f1;
}

/* CSS of register and login */
body {font-family: Arial, Helvetica, sans-serif;}

/* The Modal (background) */
.modal {
   /* Hidden by default */ /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/*-----------------------------------------------------------Shop-----------------------------------------------------------------------------*/ 

.space{
  padding-bottom: 20px;
}

.select:hover, .select:focus {
  text-decoration: none;
  cursor: pointer;
}

.NameAr{
  max-width: 30%;
}
.NameBr{
  max-width: 50%;
}

.clothesAr{
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  max-width: 20%;
}


.buttonW{
  max-width: 40%;
}

.buttonB{
  max-width: 20%;
}

.valider{
  max-width: 15%;
}
.valider_b{
  max-width: 7%;
}

.croix_b{
  max-width: 7%; 
}
.croix{
  max-width: 20%; 
}

.edit{
  max-width: 7%;
}

.clothes{
  max-width: 100%; 
  max-height: 100%;
  padding-top: 20px;
}

/*-----------------------------------------------------------Shop-----------------------------------------------------------------------------*/

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

.coco{
  padding-top: 400px;
}

.inin{
  padding-top: 100px;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}


.close1 {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
  line-height: 1;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
  padding: 1rem 1rem;
  margin: -1rem -1rem -1rem auto;
}
.close1:hover, .close1:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
  opacity: .75;
}

/* The Close Button */ 
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
  line-height: 1;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
}

.close:hover, .close:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.modal-header, .modal1-header{
  padding: 2px 16px;
  background-color: black;
  color: white;
}

.modal-body, .modal1-body {
  padding: 2px 16px;
  color: black;
}

.modal-footer, .modal1-footer {
  padding: 2px 10px;
  background-color: black;
  color: white;
}
/* Style of the body register */
* {box-sizing: border-box}

/* Add padding to containers */
.container {
  padding: 16px;
}

.container signin {
  padding: 16px;
  width: 16px;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid black;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: black;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}
/* Change the color of nav_bar*/
.nav-link {
  color : white;
}

.registerbtn:hover {
  opacity:1;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: black;
  text-align: center;
}
/* style of register and login end*/

/*---------------------------------------------SPONSORS PART---------------------------------------------------*/

/* style of sponsors parts*/
.sponsors h1{
  margin: 5% 0%;
  text-align: center;
  text-decoration: overline underline; 
  font-weight: bold;
}

.sponsors ul {
  text-align :center;
}
.sponsors ul a{
  display: inline-block;
  width: 30%;
}

.sponsors img{
  width: 30%; /*resize sponsors images*/
}

.modal a{
  color : #000000; 
}

/*-----------------------------------------------------YOUTUBE PART--------------------------------------------------*/

/* style of youtube parts*/
.ytvid {
  text-align: center;
}

.ytvid h1{
  margin: 2% 0%;
  text-align: center;
  text-decoration: overline underline; 
  font-weight: bold;
}

/*-------------------------------------------------ACTIVITY-----------------------------------------------------------*/

/* style of activity parts*/
.activity {
  text-align: center;
}

.activity h1{
  margin: 0.5em auto 2em;
  text-align: center;
  text-decoration: overline underline; 
  font-weight: bold;
}


.btn {  
  padding: .75rem; 
  line-height: 1;
}

.btn-light.dropdown-toggle {
  background-color: black;
  color: white;
}

/*-------------------------------------------------GALLERY-----------------------------------------------------------*/

/* style of gallery parts*/
.gallery {
  text-align: center;
}

.gallery h1{
  margin: 0.5em auto 2em;
  text-align: center;
  text-decoration: overline underline; 
  font-weight: bold;
}

.photo {
  text-align: center;
  margin: 2%; 
  padding: auto 10% 10% auto;
}

/*------------------------------------------------SHOP-----------------------------------------------*/

/* style of activity parts*/
.boutique {
  text-align: center;
}

.boutique h1{
  margin: 0.5em auto 2em;
  text-align: center;
  text-decoration: overline underline; 
  font-weight: bold;
}


.btn {  
  padding: .75rem; 
  line-height: 1;
}

.btn-light.dropdown-toggle {
  background-color: black;
  color: white;
}



#article {
  display:inline-block;
  border: thick double orange;
  margin: 2%;
  padding: auto;
}

#article img {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#article a {
  margin: 1rem auto 1rem ;
}

.search{
  margin: 1rem auto 1rem 2rem;
}

/*-------------------------------------------------FOOTER------------------------------------------*/

.info ul{
  color: black;
  text-align: center;
}

.info ul a{
  color: black;
  text-decoration: none;
  display: inline-block;
  padding: auto;
}

.info ul a:hover{ /*highlight link*/
  color: grey;
  font-weight: bold;
}

/*--social network--*/
.social ul{
  color: black;
  text-align: center;
}

.social ul a{
  color: black;
  text-decoration: none;
  display: inline-block;
  padding: auto;
}

#social-fb:hover{ /*highlight link*/
  color: blue;
  text-align: center;
}

#social-ig:hover{ /*highlight link*/
  color: purple;
  text-align: center;
}

/* On screens less than 700px */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: 3rem;
    position: relative;
    top: 0;
    padding: .25rem 0 0 0;
    overflow-x: hidden;
  }
  .navbar {
    display: none
  }
  .sidebar a {
    float: left;
    font-size: 15px;
  }
  div.content {
    margin-left: 0;
    margin-top: 0;
  }
  /*body {padding : 0 1rem 1rem 1rem;}*/
  .sidebar-header img {display: none;}
  iframe {display: none;}
  h1 {
    font-size: 20px;
  }
}

/* On screens that are less than 400px */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}


/* Character counter */
textarea {
  border: 2px solid #D9E3F9;
  border-radius: 4px;
  padding: 8px 14px;
}

p#counterBlock {
  color: #456; 
  font-size: 100%;
  font-weight: bold;
  margin-top:7px
}


/***** SEARCH BAR ******/
#searchbar{ 
	margin-left: 15%; 
	padding:15px; 
	border-radius: 10px; 
}

#list{ 
	font-size: 1.5em; 
	margin-left: 90px; 
} 

.animals{ 
display: list-item;	 
} 
